<!-- 
    <footer id="fot" class="bg-dark text-warning ma-3 p-3 bg-dark">    
        <div>
            <p class="lead text-center">&copy; 2020 All rights Reserved</p>
        </div>
    </footer> 
 -->

<!DOCTYPE html>
<html>

<head>
    <style>
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            margin: 0 0 100px;
            /* bottom = footer height */
        }

        #sticky {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 80px;
            width: 100%;
        }
    </style>
</head>

<body>
    <!-- <footer id="sticky">    
        <div>
            <p class="bg-dark text-warning p-4 bg-dark text-center">&copy; 2020 All rights Reserved</p>
        </div>
    </footer>  -->

    <footer id="sticky" class="bg-dark text-warning ma-3 p-3 bg-dark">
        <div>
            <p class="lead text-center">&copy; 2021 All rights Reserved</p>
        </div>
    </footer>
</body>

</html>