{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Password Reset
{% endblock %}

{% block content %}
  <div class="container">
    <br>
    <h1 class="product_title text-center">
      Resest your Password
    </h1>
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 bg-light mx-auto">
        <div>
          <br>
          <h2 class="product_title">
            Registered Customers Only
          </h2>
          <form method="post">
            {% csrf_token %}
            <p>{{ form | crispy }}</p>
            <button type="submit" name="button" class="btn btn-secondary">Change Your Password</button>
          </form>
          <br>
        </div>
      </div>
    </div>
    <br>
  </div>
  <br>
{% endblock %}
